<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2> This is Product List Page</h2>
    {% for product in products %}
    <ul>
        <h3>Product Info</h3>
        <li>Name: {{ product.product_name }}</li>
        <li>Price: {{ product.price }} </li>
        <li>Discount : {{ product.discount }}</li>
        <li>Old Price : {{product.old_price}} </li>
    </ul>
    {% endfor %}
</body>
</html>